{% extends 'base.html' %}
{% load static %}


{% block content %}
    <br><br><br><br><br><br>
    <div>
        <h1 id = "minjuJang">안녕하세요. 정재혁입니다.</h1>
        <br>
        <h4 id= "minjuJang">
            <br><br><br>
            > <strong>first</strong>자기소개 페이지 넘어가기 ★
            <br><br><br>
            > <strong>second</strong>어릴적 사진 보기 ★
            <br><br><br>
            > <strong>third</strong>경력 모아보기 ★
        </h4>
    </div>

    <div id="minjuJang">
        <h2><a href="{%url 'main:new'%}">글쓰기</a></h2>
    </div>

    <div class="container">
        {% if user.is_authenticated %}
        <h1>글 목록</h1>
        <div>
            {% for post in posts %}
            <div>
                <h3>{{post.title}}</h3>
                    {% if post.writer %}
                        {% if 'user' in post.writer.username and post.writer.username != 'user' %}
                            작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer.last_name }} {{ post.writer.first_name }}</a>
                        {% else %}
                            작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer }}</a>
                        {% endif %}
                    {% else %}
                        작성자 : 알 수 없음
                    {% endif %}
                <br>
                {{post.summary}}
                <a href="{%url 'main:detail' post.id%}">...more</a>
                <br><hr>
            </div>
            {%endfor%}
        </div>
        {% else %}
        <h3>로그인 후 이용 가능</h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}"  class="btn btn-warning">회원가입</a>
        {% endif %}
    </div>    
{% endblock %}