{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 id="minjuJang">정재혁 리즈시절</h1>
    <div id="k">
        <img src="{%static 'images/jaehyuk1.jpg' %}" width="200%" height="200%"><br><br><br><br>
        <img src="{%static 'images/jaehyuk2.jpg' %}" width="200%" height="200%"><br><br><br><br>
        <img src="{%static 'images/jaehyuk3.jpg' %}" width="200%" height="200%"><br><br><br><br>
        <img src="{%static 'images/jaehyuk4.jpg' %}" width="200%" height="200%"><br><br><br><br>
    </div>
{% endblock %}