{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 id="alba"> 경력</h1>
    <div id="kk">
        <img src="{%static 'images/alba1.jpeg' %}"><br>
        <h2>닭칼국수집 홀 서빙 알바</h2><br><br><br>
        <img src="{%static 'images/alba2.jpeg' %}"><br>
        <h2>고기집 홀&주방 <strong>마스터</strong> </h2><br><br><br>
        <img src="{%static 'images/alba3.jpeg' %}"><br>
        <h2>충무로 비어킹 홀알바</h2>
        <h3><strong>취객퇴치 전문</strong></h3><br><br><br>
        <img src="{%static 'images/alba4.jpg' %}"><br>
        <h2>단순 현장직 노가다 알바</h2>
        <h3>돈이 아무리 급해도 다시는 안한다..!</h3><br><br><br>
    </div>
{% endblock %}